*{
   box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", "Arial", "Meiryo", "Hiragino Sans";
    font-weight: normal;
}

h1{
    margin: 0; 
    padding: 0;
    font-family: "Helvetica Neue", "Arial", "Meiryo", "Hiragino Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
}
h2{
    font-family: "Helvetica Neue", "Arial", "Meiryo", "Hiragino Sans", sans-serif;
    font-weight: bold;
    font-size: 36px;
}
h3{
    font-family: "Helvetica Neue", "Arial", "Meiryo", "Hiragino Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
}
h4{
    font-family: "Helvetica Neue", "Arial", "Meiryo", "Hiragino Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

figure{
    float: right;
}
figcaption{
    text-align:	center;
}

/* header */
header{
    width: 100%;
    padding-top: -1ex;
    padding-bottom: -1ex;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}
nav{
   margin: 0 0 0 auto;
}

/* footer */
#footer{
   border-top: solid 1px lightgray;
   padding-bottom: 10px;
}
#footer p{
   color: #505050;
   font-size: 10px;
   text-align: center;
}
