h1{
    font-family: "Helvetica Neue", "Arial", "Meiryo", "Hiragino Sans", sans-serif;
    font-weight: bold;
}
h2{
    font-family: "Helvetica Neue", "Arial", "Meiryo", "Hiragino Sans", sans-serif;
    font-weight: bold;
}
h3{
    font-family: "Helvetica Neue", "Arial", "Meiryo", "Hiragino Sans", sans-serif;
    font-weight: bold;
}
h4{
    font-family: "Helvetica Neue", "Arial", "Meiryo", "Hiragino Sans", sans-serif;
    font-weight: bold;
}

body{
    font-family: "Helvetica Neue", "Arial", "Meiryo", "Hiragino Sans";
    font-weight: normal;
}

figure{
    float: right;
}
figcaption{
    text-align:	center;
}

/* header */
header {
    width: 100%;
    padding: 30px 4% 10px;
    background-color: #000000;
    position: fixed;
    top: 0;
}
